@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-list {
  list-style-type: none;
}

.custom-list li::before {
  content: "\2022";
  color: blue;
  display: inline-block;
  width: 1em;
  font-size: 20px;
  margin-inline: 0.2em;
}

/* HTML: <div class="loader"></div> */
.loader {
  height: 4px;
  width: 100%;
  padding-inline: 1rem;
  --c: no-repeat linear-gradient(#6100ee 0 0);
  background: var(--c), var(--c), #d7b8fc;
  background-size: 60% 100%;
  animation: l16 3s infinite;
}
@keyframes l16 {
  0% {
    background-position: -150% 0, -150% 0;
  }
  66% {
    background-position: 250% 0, -150% 0;
  }
  100% {
    background-position: 250% 0, 250% 0;
  }
}
